<html>
    <head>
        <title>Admin Profile page</title>
    </head>
    <body>
        <h1>Admin Profile Page</h1>
        <p>Name: <%=user_details.name%></p>
        <p>Email: <%=user_details.email%></p>
        <button><a href="/all-books">All books</a></button>
        <button><a href="/get-add-book">Add Books</a></button>
        <form action="/logout" method="POST">
            <button type="submit">Log Out</button>
        </form>
    </body>
</html> 