<html>
    <head>
        <title>Login Admin</title>
    </head>
    <body>
        <h1>Login Admin</h1>
        <form action="/verify-admin-login" method="POST">
            <input type="email" name="email" placeholder="Enter your Email"/>
            <input type="password" name="password" placeholder="Enter your Password"/>
            <button>Login</button>
        </form>
    </body>
</html>